<a href="https://colab.research.google.com/github/Anggidanu/Data-Mining/blob/main/DecissiontreeStudentsMath.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [10]:
studentsmathDataset = pd.read_csv('StudentsMath.csv',delimiter=',',header=0)

In [11]:
studentsmathDataset.head()

   gender  race  parentallevelofeducation  testpreparationcourse    mathscore
0       0     2                         2                      0  tidak lulus
1       0     3                         3                      1  tidak lulus
2       0     2                         1                      0        lulus
3       1     1                         2                      0  tidak lulus
4       1     3                         3                      0        lulus

In [13]:
studentsmathDataset ["mathscore"]= pd.factorize(studentsmathDataset.mathscore)[0]

In [14]:
studentsmathDataset = studentsmathDataset.to_numpy()

In [22]:
dataTraining = np.concatenate((studentsmathDataset[0:50,:],
                               studentsmathDataset[60:140,:]), axis=0)
dataTesting = np.concatenate((studentsmathDataset[50:60,:],
                               studentsmathDataset[140:150,:]), axis=0)

In [23]:
inputTraining = dataTraining[:,0:4]
inputTesting = dataTesting[:,0:4]
labelTraining = dataTraining[:,4]
labelTesting = dataTesting[:,4]

In [24]:
model = tree.DecisionTreeClassifier()

In [25]:
model = model.fit(inputTraining , labelTraining)

In [26]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya", labelTesting)
print("Hasil Prediksi", hasilPrediksi)

Label Sebenarnya [0 1 0 1 0 0 1 0 0 0 1 0 0 0 1 0 1 0 0 1]
Hasil Prediksi [1 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1]

In [27]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ",prediksiBenar,"data")
print("Prediksi Salah : ",prediksiSalah,"data")
print("Akurasi : ",prediksiBenar/(prediksiBenar+prediksiSalah)*100,"%")

Prediksi Benar :  13 data
Prediksi Salah :  7 data
Akurasi :  65.0 %